/* Mobile Portrait View */

@media screen and (max-width: 479px) {
    * {
        box-sizing: border-box;
    }
    .wrapper {
        width: 95%;
		display: inherit !important;
    }
    .flexbox{
        display: block;
    }
	
    /******************************
    ** Top Header CSS
    ******************************/
    .top-header{
        text-align: center;
    }
	.top-header:before{
		content: none;
	}
    .top-header .topbar-right {
		margin-left: 0;
    }

    /******************************
    ** Header CSS
    ******************************/
    .header{
        text-align: center;
    }
	.head-left{
		padding: 10px 30px 22px 20px;
	}
	.head-left,
	.head-right{
		position: relative;
		width: auto;
	}	
	.header-btn{
		margin: 15px 0;
		border: none;
		padding: 0;
	}
	.header-btn a:before,
	.header-btn a:after{
		content: none;
	}

    /******************************
    ** Navigation CSS
    ******************************/
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        font-size: 16px;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
		margin-top:0;
		width:100%;
    }
    .sitenav ul {
        background: #000000 !important;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
    }
	.sitenav ul li ul {
		color: #fff;
		opacity: 0;
		padding:0;
		position: absolute;
		right: 9999rem;
		top: calc(100% + 2rem);
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);
		width: 20rem;
		z-index: 1;
	}
	.sitenav ul li.menu-item-has-children:hover > ul,
	.sitenav ul li.menu-item-has-children:focus > ul,
	.sitenav ul li.menu-item-has-children.focus > ul {
		left: 0;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.15s linear, transform 0.15s linear;
		background-color:#000000 !important;
		top:0;
		position: relative;
	}
    .sitenav ul li a {
        padding: 5px 10px;
        display: block;
        color: #ffffff !important;
		text-align:left;
    }
    .sitenav ul li a:hover {
        color: #ffffff !important;
    }
    .sitenav ul li ul,
    .sitenav ul li ul ul {
        display: block !important;
    }
    .sitenav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
	.sitenav ul li.current_page_item a{
		background-color:transparent !important;
	}
	.sitenav ul li:hover,
	.sitenav ul li.current_page_item{
		background-color:inherit !important;
	}
    /******************************
    ** Slider CSS
    ******************************/
    #theme-slider{
        text-align: center;
    }
    #theme-slider .nivo-caption{
        width: 76%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    #theme-slider .inner-caption h2{
        font-size: 24px;
        margin-bottom: 15px;
    }
    #theme-slider .inner-caption p{
        display: none;
    }
    #theme-slider .inner-caption .sliderbtn{
        padding: 12px 16px;
        font-size: 12px;
    }
    #theme-slider .nivo-controlNav{
        display: none;
    }

    /******************************
    ** Sections CSS
    ******************************/
    .box{
		margin: 0 !important;
	}
	.aboutus .about-content{
		padding: 0;
	}
	.aboutus .thumb{
		margin-bottom: 30px;
	}
	.read-more{
		padding: 10px 20px;
	}

    /* ------ Extra ------ */
    
    #sitemain iframe {
        max-width: 100%;
        height: auto;
    }
    /* --------- Pages ------- */
    
    .content-area {
        width: 95%;
        margin: 0 auto;
        padding: 50px 0;
    }
    .site-main {
        width: 100%;
        margin: 0;
        padding: 0;
        float: none;
    }
    #sidebar {
        width: auto;
        margin: 60px 0 0;
        padding: 0;
        float: none;
    }
    .nivo-directionNav a {
        top: 36% !important;
    }
	section{
		padding:0;
	}
	.main-container{
		margin-top:0;
	}
}
/* Mobile Landscape View */

@media screen and (max-width: 719px) and (min-width: 480px) {
    * {
        box-sizing: border-box;
    }
	.wrapper {
        width: 95%;
        display: inherit !important;
    }
    .flexbox{
        display: block;
    }
    
    /******************************
    ** Top Header CSS
    ******************************/
    .top-header{
        text-align: center;
    }
	.top-header:before{
		content: none;
	}
    .top-header .topbar-right {
		margin-left: 0;
    }

    /******************************
    ** Header CSS
    ******************************/
    .header{
        text-align: center;
    }
	.head-left{
		padding: 10px 30px 22px 20px;
	}
	.head-left,
	.head-right{
		position: relative;
		width: auto;
	}
	.header-btn{
		margin: 15px 0;
		border: none;
		padding: 0;
	}
	.header-btn a:before,
	.header-btn a:after{
		content: none;
	}

    /******************************
    ** Navigation CSS
    ******************************/
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        font-size: 16px;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
		margin-top:0;
		width:100%;
    }
    .sitenav ul {
        background: #000000 !important;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
    }
	.sitenav ul li ul {
		color: #fff;
		opacity: 0;
		padding:0;
		position: absolute;
		right: 9999rem;
		top: calc(100% + 2rem);
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);
		width: 20rem;
		z-index: 1;
	}
	.sitenav ul li.menu-item-has-children:hover > ul,
	.sitenav ul li.menu-item-has-children:focus > ul,
	.sitenav ul li.menu-item-has-children.focus > ul {
		left: 0;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.15s linear, transform 0.15s linear;
		background-color:#303030;
		top:0;
		position: relative;
	}
    .sitenav ul li a {
        padding: 5px 10px;
        display: block;
        color: #ffffff !important;
		text-align:left !important;
    }
    .sitenav ul li a:hover {
        color: #ffffff !important;
    }
    .sitenav ul li ul,
    .sitenav ul li ul ul {
        display: block !important;
    }
    .sitenav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
	.sitenav ul li.current_page_item a{
		background-color:transparent !important;
	}
	.sitenav ul li:hover,
	.sitenav ul li.current_page_item{
		background-color:inherit !important;
	}
    /******************************
    ** Slider CSS
    ******************************/
    #theme-slider{
        text-align: center;
    }
    #theme-slider .nivo-caption{
        width: 76%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    #theme-slider .inner-caption h2{
        font-size: 34px;
        margin-bottom: 15px;
    }
    #theme-slider .inner-caption p{
        display: none;
    }
    #theme-slider .inner-caption .sliderbtn{
        padding: 12px 16px;
        font-size: 12px;
    }
    #theme-slider .nivo-controlNav{
        display: none;
    }
    /******************************
    ** Sections CSS
    ******************************/
    .box{
		margin: 0 !important;
	}
	.aboutus .thumb{
		margin-bottom: 30px;
	}
	.aboutus .about-content{
		padding: 0;
	}
	
    /* ------ Extra ------ */
    
    #sitemain iframe {
        max-width: 100%;
        height: auto;
    }
    /* --------- Pages ------- */
    
    .content-area {
        width: auto;
        margin: 0 20px;
        padding: 50px 0;
    }
    .site-main {
        width: auto;
        margin: 0;
        padding: 0;
        float: none;
    }
    #sidebar {
        width: auto;
        margin: 60px 0 0;
        padding: 0;
        float: none;
    }
    .nivo-directionNav a {
        top: 36% !important;
    }
	section{
		padding:0;
	}
	.main-container{
		margin-top:0;
	}
}

@media screen and (max-width: 899px) and (min-width: 320px) {
    .cat_comments {
        height: auto;
    }
}
/* Tablet View */

@media screen and (max-width: 999px) and (min-width: 720px) {
    * {
        box-sizing: border-box;
    }
	.wrapper{
        width: 95%;
        margin: 0 auto;
    }
	
	/******************************
    ** Top Header CSS
    ******************************/
	.header .top-header .flexbox{
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.top-header:before{
		content: none;
	}
    .top-header{
        text-align: center;
		padding: 0 15px;
    }
    .top-header .topbar-right {
		margin-left: 0;
    }
	.topbar-left{
		margin: 0;
	}

    /******************************
    ** Header CSS
    ******************************/
	.header .flexbox{
		display: block;
	}
    .header{
        text-align: center;
    }
	.head-left{
		padding: 10px 30px 22px 20px;
	}
	.head-left,
	.head-right{
		position: relative;
		width: auto;
	}
	.head-left:after{
		content: none;
	}
    .site-logo{
		top: 0;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
    }	
	.header-btn{
		margin: 15px 0;
		border: none;
		padding: 0;
	}
	.header-btn a:before,
	.header-btn a:after{
		content: none;
	}

    /******************************
    ** Navifation CSS
    ******************************/
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        font-size: 16px;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
		float:none;
    }
    .sitenav ul {
        background: #000000;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
    }
	.sitenav ul li ul {
		color: #fff;
		opacity: 0;
		padding:0;
		position: absolute;
		right: 9999rem;
		top: calc(100% + 2rem);
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);
		width: 20rem;
		z-index: 1;
	}
	.sitenav ul li.menu-item-has-children:hover > ul,
	.sitenav ul li.menu-item-has-children:focus > ul,
	.sitenav ul li.menu-item-has-children.focus > ul {
		left: 0;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.15s linear, transform 0.15s linear;
		background-color: transparent !important;
		top:0;
		position: relative;
	}
    .sitenav ul li a {
        padding: 5px 10px;
        display: block;
        color: #ffffff !important;
		text-align:left;
    }
    .sitenav ul li a:hover {
        color: #ffffff !important;
    }
    .sitenav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
	.sitenav ul li:hover,
	.sitenav ul li.current_page_item{
		background-color:inherit !important;
	}

    /******************************
    ** Section CSS
    ******************************/
    .first-section .box{
		margin: 0 !important;
		flex: 0 1 48%;
	}
	.aboutus .flexbox {
		display: block;
	}
	.aboutus .thumb{
		margin-bottom: 50px;
	}
	.aboutus .about-content{
		padding: 0;
	}

    /* --------- Pages ------- */
    .content-area {
        width: auto;
        margin: 0 20px;
        padding: 50px 0;
    }
    .site-main {
        width: 60%;
        margin: 0;
        padding: 0;
        float: left;
    }
    #sidebar {
        width: 35%;
        margin: 0;
        padding: 0;
        float: right;
    }
	section{
		padding-bottom:0;
	}
	.main-container{
		margin-top:0;
	}
}
@media screen and (min-width: 1000px) {
    .sitenav ul li ul li {
        display: block;
        position: relative;
        float: none;
    }
    .sitenav ul li ul li a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px #313131 solid;
    }
    .site-main {
        width: 70%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1159px) {
    .wrapper {
        width: 95%;
    }
	.head-left{
		width: 22%;
	}
	h1.site-title{
		font-size: 28px;
	}
	p.site-description{
		font-size: 12px;
	}
	.head-right{
		width: 78%;
	}
	.header-btn{
		margin-left: 0px;
	}
	.header-btn a{
		padding: 18px 12px;
		font-size: 12px;
	}
	.sitenav ul{
		font-size:12px;
	}
	.sitenav ul li{
		letter-spacing: 1px;
	}
	.sitenav ul li a{
		padding: 12px 8px;
	}
	.sitenav ul li:hover > ul{
		top:52px;
	}
    .cat_comments {
        left: 35px;
        width: 25%;
    }
    .content-area {
        width: 95%;
	}
	.aboutus .about-content{
		padding-left: 50px;
	}
}